*{
    padding: 0;
    margin: 0;

}
.contaniner, ul {
    background: blueviolet;
    color: aliceblue;
    display: flex;
    width: 100%;

}
ul{
   justify-content:end;
  
}
.contaniner, ul, li, a{
    padding: 10px;
    list-style: none;  
    text-decoration: none;
    color: aliceblue;
  
  
}
.container ul li a:hover{
    background-color:gray;
    border-radius: 10px;
    
}

 section{
    background-image: url(https://cdn.pixabay.com/photo/2024/01/16/18/22/mushroom-8512804_1280.jpg);
   background-size: cover;
   background-position: center;
    height: 30vh;
    background-repeat: no-repeat;


    padding: 10%;
    text-align: center;
    color: aliceblue;
    
    font-family: sans-serif;
}
h1{
    font-size: 40px;
    margin-top: 10px;
}
button{
    
    width: 100px;
    height: 40px;
    border-radius: 20px;
    gap: 50px;
    margin-top: 20px;
}
button:hover{

  background: orange; 
  
}
.card1{
    width: 20%;
    height: 35%;
    padding: 10px;
    border-radius: 10px;
    background:plum;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

}
img{
   
    width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.card-header{
    padding: 10px;
    justify-content: center;
   
  
    display: flex;
    gap: 12px;
}
h3{
    font-size: 20px;
}
.map iframe{
    width: 70%;
    /* margin: auto; */
    margin-left: 190px;
    border-radius: 25px;
    margin-top: 20px;
}
h2{
    text-align: center;
    margin-top: 20px;
}